:root{
    --primary-300-base: #0065FE;
    --neutral-white: #FFF;
    --primary-400: #005AE2;
    --text-color-main-text: #141414;
    --neutral-900: #071827;
    --neutral-800: #112232;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
   font-size: 16px; 
}
body{
    width:100%;
    /*padding: 0.75rem 8.75rem;*/
    /* overflow-x: hidden; */
}
div.first-div{
    width: 100%;
    background:#fff;
}
div.first-div > header{
    --padding: 5%;
    max-width: 1150px;
    width: calc(100% - var(--padding)*2);
    margin: 0.75rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 8.75rem; */
    color: var(--primary-300-base);
    
}
header > div.logo{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 8px;
}
.logo-0{
    display: block;
    width: 24px;
    height: 24px;
}
.logo-1{
    display: block;
    width: 3px;
    height: 24px;
}
header > div.logo > h2{
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
}
div.navbar{
    display: flex;
    gap: 8.75rem;
    align-items: center; 
}
header  ul{
    display: flex;
    font-family: Gilroy-Medium;
    list-style: none;
    gap: 2.5rem;
    color: black;
    font-size: 16px;
}
header  ul > li:first-child{
    color: var(--primary-300-base);
}
header  ul > li:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
header  ul > li:nth-of-type(2) > img{
    width: 1.5rem;
    height: 1.5rem;
}
div.button{
    display: flex; 
}
div.button > button{
    border:none;
    font-size: 16px;
    padding: 12px 24px;
    color: var(--primary-300-base);
    background-color:var(--neutral-white);
}
div.button > button:last-child{
    background: var(--primary-300-base);
    color: var(--neutral-white);
    border-radius:21px;
}
.menu{
    display: none;
    width: 48px;
}
div.first-div > div.main{
    max-width: 950px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 6rem auto;
    text-align: center;
    
}
/*div.first-div > div.main > div.para1{
    color: #141414;
    text-align: center;
    font-size: 48px;
    font-family: Gilroy-Bold;
    height:12.5rem;
}*/
div.first-div > div.main > div.first-div{
    display: flex;
    width: 100%;
    flex-direction: column;
}
div.first-div-1 > p,  
div.first-div-2 > p{
    width: 100%;
    color: #141414;
    text-align: center;
    font-size: 3rem;
    font-family: Gilroy-Bold;
    line-height: 6rem;
} 
div.first-div-2  span{
    color: var(--primary-300-base);
}
div.first-div-2 img{
    width:11rem;
    height: 1.5rem;
}
div.main > div:nth-of-type(2){
    width:90%;
}
div.main > div:nth-of-type(2) >p{
    width: 72ch;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0 auto;
}
div.main > div:nth-of-type(3){
    display: flex;
    gap: 3.5rem;
} 
div.main > div:nth-of-type(3) > button{
    border:none;
    background-color: #fff;
    color: var(--primary-300-base, #0065FE);
    font-size: 1rem;
}
div.main > div:nth-of-type(3)> button:nth-of-type(1){ 
    color: var(--neutral-white);
    background: var(--primary-300-base);
    padding: 12px 24px;
    border-radius: 21px;
}
div.footer{
    margin-bottom: 6rem;
}
.footer-main{
    position: relative;
    transform: translateX(10%);
    margin: 0 auto;
    width: 70%;
    max-width: 768px;
}
div.footer  div.first-div{
    width: 100%;
    padding: 2.5rem 3.75rem;
    border-radius: 1.5rem;
    border: 0.5px solid var(--primary-400, #005AE2);
    background: rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(106px);
}
div.footer div.first-div div.div-1{
    display: flex;
    align-items: center;    
    gap: 1.25rem;
}
div.footer  div.first-div div.div-1 > div > img{
    margin-left: -0.5rem;
    width:5rem;
    height: 5rem;
}
 img.line{
    width: 2.5rem;
    height: .75rem;
}
 img.disc-line{
    width:5rem;
    height: 5rem;
}
div.footer  div.first-div div.div-1 > div > img:first-child{
    margin-left: 0;
}
.div22 > p{
    width: 41ch;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
 img.under-image{
    display: block;
    position:absolute;
    width:15.5rem;
    height: 16rem;
    top: -2rem;
    left:0;
    z-index: -1;
}
div.ellipse-1{
    max-width: 956px;
    width: 80%;
    margin: 1.5rem auto;
}
div.ellipse-1 img{
    display: block;
    width: 100%;
    height: 100%;
}
div.second-div{
    width:100%;
    display:flex;
    padding: 0px 0px 8rem 0px;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}
div.second-div > div.header{
    max-width: 1120px;
    margin: 3.75rem auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.second-div > div.header > div.header-title{
    flex: 1;
}
 div.header-title > p{
    color: #141414;
    font-size: 2.5rem;
    line-height: 3rem;
}
div.header-title > p > span{
    color: #005AE2;
}
div.second-div > div.header > div.header-desc{
    flex: 2;
    display: flex;
    gap: 4.5rem;
}
 div.header-desc div{
    flex: 1;
}
 div.header-desc div p:nth-of-type(1){
    color: var(--text-color-main-text, #141414);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
}
div.header-desc div p:nth-of-type(2){
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

div.second-div > div.main{
    max-width:1200px;
    width: 90%;
    display: flex;
    /* justify-content: space-between; */
    gap: 6rem;
    margin: 0 auto;
}
div.second-div > div.main > div:first-child{
    flex: 1;
}
div.second-div > div.main > div:first-child >h3{
    color: #141414;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
div.second-div > div.main > div:first-child >h3 span{
    color: #0065FE;
}
div.second-div > div.main > div:first-child p{
    color: var(--text-color-main-text);
    width: 40ch;
    font-size: 1rem;
    font-family: Gilroy-Medium;
    line-height: 1.75rem;
}
div.second-div > div.main > div:nth-of-type(2){
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 13.75rem;
    column-gap: 1.5rem;
    row-gap: 4rem; 
}
/* div.second-div > div.main > div:nth-of-type(2) > div:first-child,
div.second-div > div.main > div:nth-of-type(2) > div:nth-of-type(2)
{
    max-width: 100%;
    min-height: 13.75rem;
    display: flex;
    justify-content: space-between;
    /* gap: 1.75rem;
} */

div.flex-item img{
    display: block;
    height: 1.5rem; 
    width: 1.5rem;
    margin-bottom: 2.5rem;
}
div.flex-item > div h4{
    color: var(--text-color-main-text);
    font-size: 2rem;
    margin-bottom: 1rem; 
}
div.flex-item > div p{
    color: var(--text-color-main-text);
    font-size: 1rem;
    line-height: 1.5rem;
}
div.third-div{
    position: relative;
    width: 100%;
    padding-block-start: 2.5rem;
    padding-block-end: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.25rem;
    
}
div.third-div > div:nth-of-type(2){
    width: 37.5rem;
    display: flex;
    gap: 1rem; 
}
div.third-div > div:nth-of-type(2) > img{
    width: .85rem;
    height:100%;
}
div.third-div > div:nth-of-type(2) > div{
    flex: 1;
}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(1){
    color: #141414;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;

}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(1) >span{
    color: var(--primary-400);
}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(2){
    color: var(--text-color-main-text);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}
div.third-div > div:nth-of-type(3){
    max-width:1088px;
    width: 85%;
    height: 39rem;
    border-radius: .75rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.Basic-plan,.Teams-plan{
    width: 35%;
    border-radius: .75rem;
    padding: 1.5rem 0rem 3rem 5.5rem;  
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    border: 0.4px solid var(--primary-400);
    background: var(--neutral-white);
    box-shadow: 0px .25rem .5rem 0px rgba(0, 0, 0, 0.05);
}
.Basic-plan > p,.Teams-plan > p{
    color: var(--text-color-main-text);
    font-size: 1.5rem;
    font-family: Gilroy-Medium;
    /*line-height: 2rem;*/
    /* height: 2rem; */
}
.Basic-plan > div, .Teams-plan > div{
    display: flex;
    flex-direction: column;
    
}
.Basic-plan > div > div >h3,.Teams-plan > div>div>h3,
div.Proffessional-plan > div > div >h3{
    color: var(--text-color-main-text, #141414);
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;    
}
div.Proffessional-plan > div > div >h3{
    color: var(--neutral-white, #FFF);    
}
.Basic-plan > div > div >p,.Teams-plan > div>div>p,
div.Proffessional-plan > div > div >p{
    /* width: 100%; */
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    line-height: 2rem;
}
div.Proffessional-plan > div > div >p{
    color: var(--neutral-white, #FFF);    
}
.Basic-plan ul,.Teams-plan ul,
div.Proffessional-plan ul{
    margin-left: 1rem;
    list-style-image: url("public/images/check-circle.png");
}
div.Proffessional-plan ul{
    list-style-image: url("public/images/check-circle2.png");
}
.Basic-plan ul li,.Teams-plan ul li,
div.Proffessional-plan ul li{
    margin-bottom: 1.5rem;
}
.Basic-plan ul li:last-child,.Teams-plan ul li:last-child,
div.Proffessional-plan ul li:last-child{
    margin-bottom: 0;
}
div.Proffessional-plan{
    position: absolute;
    top:13.625rem;
    max-width: 25.625rem;
    height: 39rem;
    width: 30%;
    border-radius: .75rem;
    background: linear-gradient(#1E3448, #1E3448);
    padding: 6rem 0rem 9.25rem 4rem;
    color: var(--neutral-white);
}
div.Proffessional-plan > p{
    color: var(--neutral-white);
    font-size: 1.5rem;
    font-family: Gilroy-Medium;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
.slider{
    display: none;
}
div.third-div > div:nth-of-type(5){
    display: flex;
    gap: .625rem;
}
div.third-div > div:nth-of-type(5) > button{
    width: 12.5rem;
    color: var(--primary-300-base);
    padding: .75rem 1.5rem;
    background-color: transparent;
    border-radius: 6.25rem;
    border: 1px solid var(--primary-300-base);
    font-size: 1rem; 
}
div.third-div > div:nth-of-type(5) > button:nth-of-type(2){
    border:none;
    background: var(--primary-300-base);
    color: var(--neutral-white, #FFF);
}
div.forth-div{
    width: 100%;
    background:var(--linear-gradient, linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%));
    position: relative;
    padding-block: 5rem;
    display: flex;
    justify-content: center;
}
div.forth-div > div.div-1{
   max-width: 29.75rem;
   width: 70%;
   padding: 2.625rem;
   background: #FFF;
   border-radius: .75rem;
}
div.forth-div > div.div-1 > div:first-child{
    margin-bottom: 1.5rem;
}
.input-div{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    line-height: 2.5rem;
    border-radius: .75rem;
    border:none;
    border: 1px solid var(--primary-100, #3284FF);
}
.input-div::placeholder,
.input-div2 > .input-2::placeholder,
.input-div2 > .input-3::placeholder{
    font-size: 1rem;
}
.input-div2{
    margin-top: 1.5rem;
}
.input-div2 > .input-2{ 
    /* width: 12.625rem; */
    width: 49%;
    padding: 1.125rem 1.25rem;
    border-radius: .75rem;
    border: 1px solid var(--primary-100, #3284FF);
}
.input-div2 > .input-3{
    /* width: 11.125rem;    */
    width: 49%;
    padding: 1.125rem 1.25rem;
    border-radius: .75rem;
    border: 1px solid #3284FF;
}
div.div-2  button{
    border: none;
    width: 100%;
    padding: .75rem 1.5rem;
    border-radius: 6.25rem;
    background: var(--primary-400, #005AE2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-white, #FFF);
    margin-bottom: 1.375rem;
}
div.div-2  button > p{
    font-size: .875rem;
    font-family: Gilroy-SemiBold;
    line-height: 1.5rem;
}
div.div-2 > p{
    width: 100%;
    padding-right: 4rem;
    color: #4991FF;
    font-size: .875rem;
    line-height: 1.25rem;
}
div.forth-div > img{
    display: block;
    position: absolute;
}
.magic-wand{
    width:1rem ;
    height: 1rem;
}
img.vector{
    bottom: 0;
    right: 0;
    width:25rem;
    height: 9rem;
}
 img.vector2{
    z-index: 5;
    bottom: 0;
    right: 0;
    width: 32rem;
    height: 17rem;
}
img.vector3{
    z-index: 5;
    top: 0;
    left: 0;
    width: 28rem;
    height: 32.5rem;
}
img.vector4{
    top: 0;
    left: 0;
    width:32.8125rem;
    height: 32.625rem;
} 
div.fifth-div{
    position: relative;
    width: 100%;
    /* background: var(--neutral-white, #FFF); */
    /* padding: 2.5rem 20rem 9.5rem 20rem; */
}
img.img500{
    display: block;
   position:absolute;
   width:10.5rem;
   height: 39.25rem;
   top:0;
   left:0; 
}
img.img501{
    display: block;
    position:absolute;
    width: 7.5rem;
    height: 32.125rem;
    top:0;
    left:0; 
}
img.img502{
    display: block;
    position:absolute;
    width: 3.8rem;
    height:35rem;
    top:0;
    left:0;
}
img.img503,img.img504,img.img505{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}
img.img503{
    width: 7rem;
    height: 19.5rem;
}
img.img504{
    width: 13.5rem;
    height: 21.25rem;
}
img.img505{
    width: 19rem;
    height: 24.75rem;
}
.main-div{
    max-width: 792px;
    width: 60%;
    display:flex;
    flex-direction: column;
    gap: 4rem;
    margin: 2.5rem auto;
    /* font-size: clamp(.5rem,2vw,2rem); */
}
.main-div .div-first{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;    
}
.main-div .div-first img{
    width: .375rem;
    height: 3rem;
}
.main-div .div-first h2{
    color: var(--text-color-main-text, #141414);
    font-size: 2.5rem;
    line-height: 2rem;
}
.main-div .div-first div{
    width: .5rem;
    height:3rem;
    background: linear-gradient(#112232, #4D6B88);
}
div.main-div div.div-second{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
div.main-div div.div-second  div{
    position: relative;
}
div.main-div div.div-second div.active::after{
    content: "-";
    position: absolute;
    top:0;
    right: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
div.main-div div.div-second div.active p{
    color: var(--text-color-main-text, #141414);
     font-size: 1.25rem;
     line-height: 2rem;
     padding-right: 1rem; 
}
div.main-div div.div-second div.active p:nth-of-type(1){
    font-weight: bold;
    margin-bottom: 1rem;
}
div.main-div div.div-second div.active p:nth-of-type(2){
    display: block;
    font-size: 1rem;
}
div.main-div div.div-second div p{
    color: var(--text-color-main-text, #141414);
    font-size: 1.25rem;
    line-height: 2rem;
    padding-right: 2rem;
}
div.main-div div.div-second div p.answer{
    display: none;
}
/* :not(div:first-child) > p.answer{
    display: none;
} */
div.main-div div.div-second div::after{
    content: "+";
    position: absolute;
    top:0;
    right: 0;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
div.sixth-div{
    position: relative;
    width:100%;
    height: 19rem;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    color: var(--neutral-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.sixth-div > img{
    position: absolute;
}
div.sixth-div > .first-img{
    display: block;
    width: 32.5rem;
    height:12.5rem;
    top: 0;
    left: 0;
    z-index: 5;
}
div.sixth-div > .second-img{
    display: block;
    width:28rem;
    height: 15rem;
    top:0;
    left:0;
}
div.sixth-div > .third-img{
    display: block;
    top:0;
    left:0;
    width: 29rem;
    height:  17rem;
}
div.sixth-div > .forth-img{
    display: block;
    bottom: 0;
    right: 0;
    width: 20.75rem;
    height: 6rem;
    z-index: 5;
}
div.sixth-div > .fifth-img{
    display: block;
    bottom: 0;
    right: 0;
    width: 25rem;
    height: 10rem;
}
div.sixth-div > .sixth-img{
    display: block;
    bottom: 0;
    right: 0;
    width: 32.25rem;
    height: 13rem;
}
div.sixth-div-main{
    max-width: 800px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
div.sixth-div-main > p{
    /* text-align: center; */
    font-size: 2.5rem;
    line-height: 3rem;
}
div.sixth-div-main > button{
    width: 12.5rem;
    padding: .75rem 1.5rem;
    font-size: 1rem;  
    text-align: center;
    color: var(--neutral-white);
    border-radius: 6.25rem;
    background: var(--primary-400);
    border: none;
}
div.seventh-div{
    position: relative;
    width: 100%;
    padding: 6rem 8rem 2.5rem 12.5rem; 
}
div.seventh-div > img{
    position: absolute;
}
img.img00, img.img01,img.img02{
    display: block;
    bottom: 0;
    right: 0;
}
img.img00{
    width: 17.5rem;
    height: 14.5rem;
}
img.img01{
    width: 24rem;
    height:16rem
}
img.img02{
    width: 29.5rem;
    height: 19.5rem;
}
img.img03, img.img04,img.img05{
    display: block;
    bottom: 0;
    left: 0;
}
img.img03{
    width: 13.5rem;
    height: 18.5rem
}
img.img04{
    width: 35rem;
    height: 45.5rem;
}
img.img05{
    width: 20rem;
    height: 30rem;
}
div.seventh-div > div.body{
    display: flex;
    gap: 4rem;
    
}
div.seventh-div  div.header > div.logo{
    display: flex;
    gap: .5rem;
    padding: .5rem;
    margin-bottom: 2rem;  
}
div.seventh-div  div.header > div.logo > img:nth-of-type(1){
    display: block;
    width: 1.5rem;
    height: 1.5rem;  
}
div.seventh-div  div.header > div.logo > img:nth-of-type(2){
    height: 1.5rem;
}
div.seventh-div  div.header > div.logo > h2{
    font-size: 1.5rem;
    font-weight: 400;
    /* line-height: 2rem; */
}
div.seventh-div  div.header > div.socials{
    display: flex;
    gap: 1.5rem;
    padding: 0 .5rem; 
}
div.seventh-div  div.header > div.socials img{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}
div.seventh-div  div.main-centre{
    /* width:50.75rem; */
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr)); 
     gap: 1.5rem;
}
div.main-centre > div{
    padding: 0px 1.5rem;
}
div.main-centre > div h3,
div.main-centre > div p{
    color: var(--neutral-800);
    font-size: 1rem;
    font-weight:400;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}
div.main-centre > div h3{
    font-weight: bold;
}
div.seventh-div > div.footer{
    clear: both;
}
div.footer-end{
 margin-top: 1.5rem;
 text-align: end;   
}
div.footer-end > ul{
    text-align: start;
    display: inline-flex;
    list-style: none;
    /* padding: 0px .75rem; */
    height:1.25rem;
    gap: .5rem;   
}
div.footer-end > ul > li{
    font-size: .875rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.footer-end > ul > li > img{
    display: block;
    width: .125rem;
    height: .75rem; 
}
.menu{
    display: none;
}
@media screen and (max-width: 1200px){
    html{
        font-size: 12px;
    }
}
@media screen and (max-width:1024px) {
    html{
        font-size:10px;
    }
    div.navbar{
        display: none;
        transition: all  0.5s ease-out 1s;
    }
    .active div.navbar{
        display: flex;
        flex-direction: column;
        position: fixed;
        top:48px;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(0,0, 0, 0.8);
        width: 90%;
        max-width: 700px;
        padding: 50px 0;
        z-index: 9;

    }
    header ul{
        flex-direction: column;
    }
    header ul li{
        color: #fff;
        padding: 10px 20px;
        border-bottom: 3px dotted white;
    }
    header ul li:first-child{
        color: white;
    }
    div.button{
        gap: 20px;
    }
    div.button > button:nth-of-type(1){
        border-radius: 21px;
    }
    .menu, .active .menu.close{
        display:block;
    }
    .active .menu, .menu.close{
        display: none;
    }
    .input-div2{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .input-div2 > .input-2, 
    .input-div2 > .input-3{
        width: 100%;
    }
    div.Proffessional-plan,
    div.third-div > div:nth-of-type(3){
        display: none;
    }
    div.slider{
        position: relative;
        display: block;
        width: 100%;
    }
    div.slider-main{
        height:100%;
        width: 40%;
        padding: 1.5rem 0rem 3rem 7rem;
        margin: 0 auto;
        border: 2px solid var(--primary-400);
        border-radius: 12px;
    }

    div.slider-main > .pkg > .title{
        color: var(--text-color-main-text);
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2rem;
        margin-bottom: 2rem;       
    }
    div.slider-main > .pkg > .price{
        color: var(--text-color-main-text);
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: .5rem; 
    }
    div.slider-main > .pkg > .desc{
        color: var(--text-color-main-text);
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    div.slider-main > .pkg > .list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-left: 1rem;
        list-style-image: url(public/images/check-circle.png);
        
    }
    div.slider-main > .pkg > .list > li{
        color: var(--text-color-main-text);
        font-size: .875rem;
        line-height: 1.5rem;
    }
    img.left{
        position: absolute;
        top: 50%;
        left: 5%;
    }
    img.right{
        position: absolute;
        top: 50%;
        right: 5%;
    }
}
@media screen and (max-width:768px){
    html{
        font-size: 8px;
    }
    div.forth-div > img:nth-of-type(4){
        display: none;
    }
}
 @media screen and (max-width:480px){
    html{
        font-size: 5px;
    }
}