:root{
    --primary-300-base: #0065FE;
    --neutral-white: #FFF;
    --primary-400: #005AE2;
    --text-color-main-text: #141414;
    --neutral-900: #071827;
    --neutral-800: #112232;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
   font-size: 16px; 
}
body{
    width:100vw;
    min-height: auto;
    /*padding: 0.75rem 8.75rem;*/
    overflow-x: hidden;
}
div.first-div{
    max-width: 100%;
    height: auto;
    background:#fff;
}
div.first-div > header{
    width: 71.875rem;
    margin: 0.75rem auto;
    display: flex;
    align-items: center;
    gap: 8.75rem;
    color: var(--primary-300-base);
    
}
header > div.logo{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 8px;
    width: auto;
}
.logo-0{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}
.logo-1{
    display: block;
    width: .1875rem;
    height: 1.5rem;
}
header > div.logo > h2{
    font-size: 1.5rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
}
header > ul{
    display: flex;
    font-family: Gilroy-Medium;
    width: 31.5rem;
    height: 1.5rem;
    list-style: none;
    gap: 2.5rem;
    color: black;
    font-size: 1.125rem;
}
header > ul > li:first-child{
    color: var(--primary-300-base);
}
header > ul > li:nth-of-type(2){
    width: auto;
    display: flex;
    align-items: center;
}
header > ul > li:nth-of-type(2) > img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
div.button{
    width: 13.1875rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
div.button > button{
    border:none;
    font-family: Gilroy-SemiBold;
    font-size: 1rem;
    color: var(--primary-300-base);
    background-color:var(--neutral-white);
}
div.button > button:last-child{
    display: flex;
    width: 8.875rem;
    height: 2.75rem;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    border-radius: 6.25rem;
    background: var(--primary-300-base);
    color: var(--neutral-white);    
}
div.first-div > div.main{
    width: 59.25rem;
    height: auto /*24.3125rem*/;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 10.125rem auto 3.375rem auto;
    text-align: center;
    
}
/*div.first-div > div.main > div.para1{
    color: #141414;
    text-align: center;
    font-size: 48px;
    font-family: Gilroy-Bold;
    height:12.5rem;
}*/
div.first-div > div.main > div.first-div{
    display: flex;
    width: 100%;
    height: auto /*12.5rem*/;
    flex-direction: column;
    text-align: center;
}
div.first-div-1 > p,  
div.first-div-2 > p{
    width: 100%;
    color: #141414;
    text-align: center;
    font-size: 3rem;
    font-family: Gilroy-Bold;
    line-height: 6rem;
} 
div.first-div-2  span{
    color: var(--primary-300-base);
}
div.first-div-2 img{
    margin-bottom: .75rem;
    width:10.875rem;
    height: 1.5rem;
}
div.main > div:nth-of-type(2){
    width: 48.8125rem;
    height: 6.5625rem;
    
}
div.main > div:nth-of-type(2) >p{
    width: 85%;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0 auto;
}
div.main > div:nth-of-type(3){
    height: 2.5rem;
    width: 17.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
} 
div.main > div:nth-of-type(3) > button{
    border:none;
    background-color: #fff;
    color: var(--primary-300-base, #0065FE);
    font-size: 1rem;
    font-family: Gilroy-SemiBold;
}
div.main > div:nth-of-type(3)> button:nth-of-type(1){
    height: 2.75rem;
    width: 8.875rem; 
    color: var(--neutral-white, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-300-base, #0065FE);
    border-radius: 6.25rem;
}
div.footer{
    width: 50rem;
    height: 18.75rem;
    padding: 1.625rem 0;
    position: relative;
    overflow: visible;
    margin: 0 auto; 
}
div.footer > div.first-div{
    position: absolute;
    left:50%;
    z-index: 5;
    transform: translateX(-50%);
    width: 48.0625rem;
    height: 14.0625rem;
    padding: 2.5rem 3.75rem;
    border-radius: 1.5rem;
    border: 0.5px solid var(--primary-400, #005AE2);
    background: rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(106px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.footer >div.first-div div.div-1{
    display: flex;
    align-items: center;    
    gap: 1.25rem;
}
div.footer > div.first-div div.div-1 > div{
    display: flex;
}
div.footer > div.first-div div.div-1 > div > img{
    margin-left: -0.5rem;
    width:5rem;
    height: 5rem;
}
div.footer > div.first-div div.div-1 > img.line{
    width: 2.5rem;
    height: .75rem;
}
div.footer > div.first-div div.div-1 > img.disc-line{
    width:5rem;
    height: 5rem;
}
div.footer > div.first-div div.div-1 > div > img:first-child{
    margin-left: 0;
}
div.footer > div.first-div p{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--text-color-main-text);
    font-size: 1rem;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}
div.footer > img{
    display: block;
    position:absolute;
    width:15.5rem;
    height: 16rem;
    top:.625rem;
    left:.9688rem;
}
 /* div.first-div div.div-2{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
 div.first-div div.div-2 p{
    display: inline;
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    font-family: Gilroy-Medium;
    line-height: 1rem;
    text-align: center;   
}  */
/* div.first-div > div.footer > div.second-div{
    position: absolute;
    top:15px;
    left: 10px;
    width:239px;
    height: 251px;
    z-index:-1;
}
div.first-div > div.footer  div.second-div img{
    display: block;
    width:100%;
    height: 100%;
}*/
div.ellipse-1{
    width: 59.75rem;
    height: 3.0625rem;
    flex-shrink: 0;
    margin: 1.3125rem auto 1.5rem auto;
}
div.ellipse-1 img{
    display: block;
    width: 100%;
    height: 100%;
}
div.second-div{
    width:100vw;
    height: auto;
    display:flex;
    padding: 0px 0px 8rem 0px;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}
div.second-div > div.header{
    width: 100vw;
    padding: 3.75rem 8.75rem;
    display: flex;
    height: auto; 
    gap: 7.5rem;
}
div.second-div > div.header > div.header-title{
    display: flex;
    flex-direction: column;
    width:21.5rem;
    height: 100%;
}
div.second-div > div.header > div.header-title > p{
    color: #141414;
    font-size: 2.5rem;
    font-family: Gilroy-Bold;
    line-height: 3rem;
}
div.header-title > p > span{
    color: #005AE2;
}
div.second-div > div.header > div.header-desc{
    max-width: 44.5rem;
    height: 100%;
    display: flex;
    gap: 4.5rem;
}
div.second-div > div.header > div.header-desc div{
    flex: 1;
    height: 100%;
}
div.second-div > div.header > div.header-desc div p:nth-of-type(1){
    color: var(--text-color-main-text, #141414);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
}
div.second-div > div.header > div.header-desc div p:nth-of-type(2){
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

div.second-div > div.main{
    max-width:75rem;
    min-height:31.5rem;
    display: flex;
    /* align-items: flex-start; */
    gap: 6rem;
}
div.second-div > div.main > div:first-child{
    width:24.875rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}
div.second-div > div.main > div:first-child >h3{
    color: #141414;
    width: 23.125rem;
    font-size: 2.5rem;
    font-family: Gilroy-Bold;
}
div.second-div > div.main > div:first-child >h3 span{
    color: #0065FE;
}
div.second-div > div.main > div:first-child p{
    height: 12rem;
    width: 23.125rem;
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    font-family: Gilroy-Medium;
    line-height: 1.75rem;
}
div.second-div > div.main > div:nth-of-type(2){
    max-width:44.25rem;
    min-height: 31.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem; 
}
div.second-div > div.main > div:nth-of-type(2) > div:first-child,
div.second-div > div.main > div:nth-of-type(2) > div:nth-of-type(2)
{
    max-width: 100%;
    min-height: 13.75rem;
    display: flex;
    justify-content: space-between;
    /* gap: 1.75rem; */
}
div.flex-item{
    max-width: 21.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.flex-item img{
    display: block;
    height: 1.5rem; 
    width: 1.5rem;
}
div.flex-item > div{
    width: 100%;
    height: 7.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.flex-item > div h4{
    color: var(--text-color-main-text);
    font-size: 2rem; 
}
div.flex-item > div p{
    color: var(--text-color-main-text);
    font-size: 1rem;
    line-height: 1.5rem;
}
div.third-div{
    position: relative;
    width: 100%;
    min-height: 67rem;
    padding: 2.5rem 11rem 7rem 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
div.third-div > div:nth-of-type(2){
    width: 36rem;
    height: 6.75rem;
    display: flex;
    justify-content: space-between;
}
div.third-div > div:nth-of-type(2) > img{
    width: .85rem;
    height:100%;
}
div.third-div > div:nth-of-type(2) > div{
    width: 34.75rem; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(1){
    color: #141414;
    /* text-align: center; */
    font-size: 2.5rem;
    line-height: 3rem;     
}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(1) >span{
    color: var(--primary-400);
}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(2){
    color: var(--text-color-main-text);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}
div.third-div > div:nth-of-type(3){
    width:68rem;
    min-height: 39rem;
    border-radius: .75rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.Basic-plan,.Teams-plan{
    min-height: 28.5rem;
    width: /*I35.7375rem*/ auto;
    border-radius: .75rem;
    padding: 1.5rem 6rem 3rem 5.5rem;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.4px solid var(--primary-400);
    background: var(--neutral-white);
    box-shadow: 0px .25rem .5rem 0px rgba(0, 0, 0, 0.05);
    /* overflow-x: visible; */
}
.Basic-plan > p,.Teams-plan > p{
    color: var(--text-color-main-text);
    font-size: 1.5rem;
    font-family: Gilroy-Medium;
    /*line-height: 2rem;*/
    /* height: 2rem; */
}
.Basic-plan > div, .Teams-plan > div{
    /* width: 12.125rem; */
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Basic-plan > div > div,.Teams-plan > div > div{
    width: 100%;
    height: 5.5rem;
}
.Basic-plan > div > div >h3,.Teams-plan > div>div>h3,
div.Proffessional-plan > div > div >h3{
    color: var(--text-color-main-text, #141414);
    font-size: 2.5rem;
    line-height: 3rem;    
}
div.Proffessional-plan > div > div >h3{
    color: var(--neutral-white, #FFF);    
}
.Basic-plan > div > div >p,.Teams-plan > div>div>p,
div.Proffessional-plan > div > div >p{
    /* width: 100%; */
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    line-height: 2rem;
}
div.Proffessional-plan > div > div >p{
    color: var(--neutral-white, #FFF);    
}
.Basic-plan ul,.Teams-plan ul,
div.Proffessional-plan ul{
    margin-left: 1rem;
    width: 100%;
    min-height: 13.5rem;
    list-style-image: url("public/images/check-circle.png");
}
div.Proffessional-plan ul{
    list-style-image: url("public/images/check-circle2.png");
}
.Basic-plan ul li,.Teams-plan ul li,
div.Proffessional-plan ul li{
    margin-bottom: 1.5rem;
}
.Basic-plan ul li:last-child,.Teams-plan ul li:last-child,
div.Proffessional-plan ul li:last-child{
    margin-bottom: 0;
}
div.Proffessional-plan{
    position: absolute;
    top:13.625rem;
    height: 39.1875rem;
    width: 25.625rem;
    border-radius: .75rem;
    background: linear-gradient(#1E3448, #1E3448);
    padding: 6rem 6.5rem 9.25rem 4rem;
    color: var(--neutral-white);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
div.Proffessional-plan > p{
    color: var(--neutral-white);
    font-size: 1.5rem;
    font-family: Gilroy-Medium;
    line-height: 2rem;
}
div.Proffessional-plan > div{
    height: 20.5rem;
}
div.Proffessional-plan > div > div{
    height: 5.5rem;
}
div.third-div > div:nth-of-type(4){
    width: 26.125rem;
    height: 3rem;
    display: flex;
    gap: .625rem;
    justify-content: space-between;
}
div.third-div > div:nth-of-type(4) > button{
    color: var(--primary-300-base); 
    display: flex;
    flex: 1;
    height: 100%;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 6.25rem;
    border: 1px solid var(--primary-300-base);
    font-size: 1rem; 
}
div.third-div > div:nth-of-type(4) > button:nth-of-type(2){
    background: var(--primary-300-base);
    color: var(--neutral-white, #FFF);
}
div.forth-div{
    width: 100%;
    height: 33.25rem;
    background:var(--linear-gradient, linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
div.forth-div > div.div-1{
   width: 29.75rem;
   height:22.1875rem;
   padding: 2.625rem;
   background: #FFF;
   border-radius: .75rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
div.forth-div > div.div-1 > div{
    height: 7.9375rem;
    width: 24.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-div{
    display: block;
    width: 100%;
    height: 3.5625rem;
    border-radius: .75rem;
    padding: .5rem .75rem;
    border:none;
    border: 1px solid var(--primary-100, #3284FF);
}
.input-div::placeholder,
.input-div2 > .input-2::placeholder,
.input-div2 > .input-3::placeholder{
    font-size: .75rem;
}
.input-div2{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}
.input-div2 > .input-2{
    display: flex;
    height: 3rem; 
    width: 12.625rem;
    height: 3rem;
    padding: 1.125rem 1.25rem;
    border-radius: .75rem;
    border: 1px solid var(--primary-100, #3284FF);
}
.input-div2 > .input-3{
    display: flex;
    width: 11.125rem;   
    height: 3rem;
    padding: .5rem .75rem;
    border-radius: .75rem;
    border: 1px solid #3284FF;
}
div.div-2{
    width: 100%;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.div-2  button{
    border: none;
    height: 3rem;
    width: 24.5rem;
    padding: .75rem 1.5rem;
    border-radius: 6.25rem;
    background: var(--primary-400, #005AE2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-white, #FFF);
}
div.div-2  button > p{
    height: 100%;
    font-size: .875rem;
    font-family: Gilroy-SemiBold;
    line-height: .75rem;
    padding: .25rem;
}
div.div-2 > p{
    width: 24.5rem;
    padding: .625rem;
    color: #4991FF;
    font-size: .875rem;
    line-height: 1.25rem;
}
div.forth-div > img{
    display: block;
    position: absolute;
}
.magic-wand{
    width:1rem ;
    height: 1rem;
}
img.vector{
    bottom: 0;
    right: 0;
    width:25rem;
    height: 9rem;
}
 img.vector2{
    z-index: 5;
    bottom: 0;
    right: 0;
    width: 32rem;
    height: 17rem;
}
img.vector3{
    z-index: 5;
    top: 0;
    left: 0;
    width: 28rem;
    height: 32.5rem;
}
img.vector4{
    top: 0;
    left: 0;
    width:32.8125rem;
    height: 32.625rem;
} 
div.fifth-div{
    position: relative;
    width: 100%;
    min-height: 72rem;
    /* background: var(--neutral-white, #FFF); */
    padding: 2.5rem 20rem 9.5rem 20rem;
}
img.img500{
    display: block;
   position:absolute;
   width:10.5rem;
   height: 39.25rem;
   top:0;
   left:0; 
}
img.img501{
    display: block;
    position:absolute;
    width: 7.5rem;
    height: 32.125rem;
    top:0;
    left:0; 
}
img.img502{
    display: block;
    position:absolute;
    width: 3.8rem;
    height:35rem;
    top:0;
    left:0;
}
img.img503,img.img504,img.img505{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}
img.img503{
    width: 7rem;
    height: 19.5rem;
}
img.img504{
    width: 13.5rem;
    height: 21.25rem;
}
img.img505{
    width: 19rem;
    height: 24.75rem;
}
.main-div{
    /* height: 59.5rem; */
    height:auto;
    max-width: 49.5rem;
    display:flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 auto;
    /* font-size: clamp(.5rem,2vw,2rem); */
}
.main-div .div-first{
    width:7rem;
    height: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;    
}
.main-div .div-first img{
    width: .375rem;
    height: 3rem;
}
.main-div .div-first h2{
    color: var(--text-color-main-text, #141414);
    font-size: 2.5rem;
    font-family: Gilroy-Bold;
    line-height: 2rem;
}
.main-div .div-first div{
    width: .5rem;
    height:3rem;
    background: linear-gradient(#112232, #4D6B88);
}
div.main-div div.div-second{
    min-height: 52.5rem;
    max-width: 49.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
div.main-div div.div-second div.active{
    position: relative;
    min-height: auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
div.main-div div.div-second div.active::after{
    content: "-";
    position: absolute;
    top:0;
    right: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
div.main-div div.div-second div.active p{
    color: var(--text-color-main-text, #141414);
     font-size: 1.25rem;
     /* font-weight: bold;  */
     line-height: 2rem; 
}
div.main-div div.div-second div.active p:nth-of-type(1){
    font-weight: bold;
}
div.main-div div.div-second div.active p:nth-of-type(2){
    font-size: 1rem;
}
div.main-div div.div-second div.show{
    min-height:auto;
    /* border: 2px solid red; */
}
div.main-div div.div-second div.show p{
    position: relative;
    color: var(--text-color-main-text, #141414);
    font-size: 1.25rem;
    line-height: 2rem;
    /* font-weight: bold; */
}
div.main-div div.div-second div.show p::after{
    content: "+";
    position: absolute;
    top:0;
    right: 0;
    width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
div.sixth-div{
    position: relative;
    width:100%;
    height: 19rem;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    color: var(--neutral-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.sixth-div > img{
    position: absolute;
}
div.sixth-div > .first-img{
    display: block;
    width: 32.5rem;
    height:12.5rem;
    top: 0;
    left: 0;
    z-index: 5;
}
div.sixth-div > .second-img{
    display: block;
    width:28rem;
    height: 15rem;
    top:0;
    left:0;
}
div.sixth-div > .third-img{
    display: block;
    top:0;
    left:0;
    width: 29rem;
    height:  17rem;
}
div.sixth-div > .forth-img{
    display: block;
    bottom: 0;
    right: 0;
    width: 20.75rem;
    height: 6rem;
    z-index: 5;
}
div.sixth-div > .fifth-img{
    display: block;
    bottom: 0;
    right: 0;
    width: 25rem;
    height: 10rem;
}
div.sixth-div > .sixth-img{
    display: block;
    bottom: 0;
    right: 0;
    width: 32.25rem;
    height: 13rem;
}
div.sixth-div-main{
    width: 800px;
    max-width: 50rem;
    min-height: 8.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
div.sixth-div-main > p{
    /* text-align: center; */
    font-size: 2.5rem;
    line-height: 3rem;
}
div.sixth-div-main > button{
    width: 12.5rem;
    height: 3rem;
    padding: .75rem 1.5rem;
    text-align: center;
    color: var(--neutral-white);
    border-radius: 6.25rem;
    background: var(--primary-400);
    border: none;
}
div.seventh-div{
    position: relative;
    width: 100%;
    min-height: 35rem;
    padding: 6rem 8rem 2.5rem 12.5rem;
}
div.seventh-div > img{
    position: absolute;
}
img.img00, img.img01,img.img02{
    display: block;
    bottom: 0;
    right: 0;
}
img.img00{
    width: 17.5rem;
    height: 14.5rem;
}
img.img01{
    width: 24rem;
    height:16rem
}
img.img02{
    width: 29.5rem;
    height: 19.5rem;
}
img.img03, img.img04,img.img05{
    display: block;
    bottom: 0;
    left: 0;
}
img.img03{
    width: 13.5rem;
    height: 18.5rem
}
img.img04{
    width: 35rem;
    height: 45.5rem;
}
img.img05{
    width: 20rem;
    height: 30rem;
}
div.seventh-div > div.header{
    float: left;
    display: flex;
    flex-direction: column;
    /* width: 184px; */
    max-width: 11.5rem;
    min-height: 6rem;
    margin-right: 4rem;
    gap: 2rem;
}
div.seventh-div > div.header > div.logo{
    display: flex;
    gap: .5rem;
    padding: .5rem;  
}
div.seventh-div > div.header > div.logo > img:nth-of-type(1){
    display: block;
    width: 1.5rem;
    height: 1.5rem;  
}
div.seventh-div > div.header > div.logo > img:nth-of-type(2){
    height: 1.5rem;
}
div.seventh-div > div.header > div.logo > h2{
    font-size: 1.5rem;
    font-weight: 400;
    /* line-height: 2rem; */
}
div.seventh-div > div.header > div.socials{
    display: flex;
    gap: 1.5rem;
    padding: 0 .5rem; 
}
div.seventh-div > div.header > div.socials img{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}
div.seventh-div > div.main-centre{
    max-width:50.75rem;
    height: 24rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
div.seventh-div > div.main-centre > div{
    height: 100%;
    flex: 1;
    display: inline-flex;
    flex-direction: column;

    /* border: 2px solid red; */
}
/* div.seventh-div > div.main-centre > .div000,
div.seventh-div > div.main-centre > div.div002{
    gap: 3.5rem;
} */
/* div.seventh-div > div.main-centre > div.div001{ */
    /* gap: 1.9375rem; */
/* } */
div.seventh-div > div.main-centre > div > div{
    padding: 0px 1.5rem;
    height: 50%;   
}
div.seventh-div > div.main-centre > div > div > h3{
    margin-bottom: .5rem;
    color: var(--neutral-900);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
}
div.seventh-div > div.main-centre > div > div > p{
    color: var(--neutral-800);
    font-size: 1rem;
    line-height: 1.5rem;
}
div.seventh-div > div.footer{
    clear: both;
}
div.footer-end{
 margin-top: 1.5rem;
 text-align: end;   
}
div.footer-end > ul{
    text-align: start;
    display: inline-flex;
    list-style: none;
    /* padding: 0px .75rem; */
    width: 17rem;
    height:1.25rem;
    gap: .5rem;   
}
div.footer-end > ul > li{
    font-size: .875rem;
    width:fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.footer-end > ul > li > img{
    display: block;
    width: .125rem;
    height: .75rem; 
}
@media screen and (max-width: 1200px){
    html{
        font-size: 12px;
    }
}
@media screen and (max-width:1024px) {
    html{
        font-size:8px;
    }
}
@media screen and (max-width:768px){
    html{
        font-size: 6px;
    }
}
/* @media screen and (max-width:480px){
    html{
        font-size: px;
    }
} */