:root{
    --primary-300-base: #0065FE;
    --neutral-white: #FFF;
    --primary-400: #005AE2;
    --text-color-main-text: #141414
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
   font-size: 16px; 
}
body{
    width:100vw;
    height: auto;
    /*padding: 0.75rem 8.75rem;*/
    overflow-x: hidden;
}
div.first-div{
    width: 100vw;
    height: auto;
    background:#fff;
}
div.first-div > header{
    width: 71.875rem;
    margin: 0.75rem auto;
    display: flex;
    align-items: center;
    gap: 8.75rem;
    color: var(--primary-300-base);
    
}
header > div.logo{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 8px;
    width: auto;
}
header > div.logo > h2{
    font-size: 1.5rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
}
header > ul{
    display: flex;
    font-family: Gilroy-Medium;
    width: 31.5rem;
    height: 1.5rem;
    list-style: none;
    gap: 2.5rem;
    color: black;
    font-size: 1.125rem;
}
header > ul > li:first-child{
    color: var(--primary-300-base);
}
header > ul > li:nth-of-type(2){
    width: auto;
    display: flex;
    align-items: center;
}
header > ul > li:nth-of-type(2) > img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
div.button{
    width: 13.1875rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
div.button > button{
    border:none;
    font-family: Gilroy-SemiBold;
    font-size: 1rem;
    color: var(--primary-300-base);
    background-color:var(--neutral-white);
}
div.button > button:last-child{
    display: flex;
    width: 8.875rem;
    height: 2.75rem;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    border-radius: 6.25rem;
    background: var(--primary-300-base);
    color: var(--neutral-white);    
}
div.first-div > div.main{
    width: 59.25rem;
    height: auto /*24.3125rem*/;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 10.125rem auto 3.375rem auto;
    text-align: center;
    
}
/*div.first-div > div.main > div.para1{
    color: #141414;
    text-align: center;
    font-size: 48px;
    font-family: Gilroy-Bold;
    height:12.5rem;
}*/
div.first-div > div.main > div.first-div{
    display: flex;
    width: 100%;
    height: auto /*12.5rem*/;
    flex-direction: column;
    text-align: center;
}
div.first-div-1 > p,  
div.first-div-2 > p{
    width: 100%;
    color: #141414;
    text-align: center;
    font-size: 48px;
    font-family: Gilroy-Bold;
    line-height: 96px;
} 
div.first-div-2  span{
    color: var(--primary-300-base);
}
div.first-div-2 img{
    margin-bottom: .75rem;
}
div.main > div:nth-of-type(2){
    width: 48.8125rem;
    height: 6.5625rem;
    
}
div.main > div:nth-of-type(2) >p{
    width: 85%;
    font-size: 18px;
    font-family: Gilroy-Medium;
    line-height: 28px;
    margin: 0 auto;
}
div.main > div:nth-of-type(3){
    height: 2.75rem;
    width: 17.625rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
} 
div.main > div:nth-of-type(3) > button{
    border:none;
    background-color: #fff;
    color: var(--primary-300-base, #0065FE);
    font-size: 1rem;
    font-family: Gilroy-SemiBold;
}
div.main > div:nth-of-type(3)> button:nth-of-type(1){
    height: 2.75rem;
    width: 8.875rem; 
    color: var(--neutral-white, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-300-base, #0065FE);
    border-radius: 6.25rem;
}
div.footer{
    width: 50rem;
    height: 300px;
    padding: 1.625rem 0;
    position: relative;
    overflow: visible;
    margin: 0 auto; 
}
div.footer > div.first-div{
    position: absolute;
    left:50%;
    z-index: 5;
    transform: translateX(-50%);
    width: 48.0625rem;
    height: 14.0625rem;
    padding: 2.5rem 3.75rem;
    border-radius: 1.5rem;
    border: 0.5px solid var(--primary-400, #005AE2);
    background: rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(106px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.first-div div.div-1{
    display: flex;
    align-items: center;    
    gap: 1.25rem;
}
div.first-div div.div-1 > div{
    display: flex;
}
div.first-div div.div-1 > div > img{
    margin-left: -0.5rem;
}
div.first-div div.div-1 > div > img:first-child{
    margin-left: 0;
}
div.first-div div.div-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.first-div div.div-2 p{
    display: inline;
    color: var(--text-color-main-text, #141414);
    font-size: 16px;
    font-family: Gilroy-Medium;
    line-height: 24px;   
}
div.first-div > div.footer > div.second-div{
    position: absolute;
    top:15px;
    left: 10px;
    width:239px;
    height: 251px;
    /*z-index:-1*/;
}
div.first-div > div.footer  div.second-div img{
    display: block;
    width:100%;
    height: 100%;
}
div.ellipse-1{
    width: 59.75rem;
    height: 3.0625rem;
    flex-shrink: 0;
    margin: 1.3125rem auto 1.5rem auto;
}
div.ellipse-1 img{
    display: block;
    width: 100%;
    height: 100%;
}
div.second-div{
    width:100vw;
    height: auto;
    display:flex;
    padding: 0px 0px 130px 0px;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}
div.second-div > div.header{
    width: 100vw;
    padding: 3.75rem 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
}
div.second-div > div.header > div.header-title{
    display: flex;
    flex-direction: column;
    width: 21.0625rem;
}
div.second-div > div.header > div.header-title > p{
    color: #141414;
    font-size: 2.5rem;
    font-family: Gilroy-Bold;
    line-height: 3rem;
}
div.header-title > p > span{
    color: #005AE2;
}
div.second-div > div.header > div.header-desc{
    width: 44.3125rem;
    height: 6.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4.5rem;
}
div.header-desc > div:first-child,
div.header-desc > div:nth-of-type(2){
    width: 17.6875rem;
    height: 6.25rem; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4.5rem;
}
div.header-desc > div:first-child > div:first-child{
      width: 5.5rem;
      height: 4.125rem;
      display: flex;
      flex-direction: column;
      gap: .25rem;
      align-items: flex-start; 
}
div.header-desc > div:first-child > div:first-child > p:first-child{
    color: var(--text-color-main-text, #141414);
    font-size: 2rem;
    font-family: Gilroy-SemiBold;
}
div.header-desc > div:first-child > div:first-child > p:nth-of-type(2){
    color: var(--text-color-main-text, #141414);
    font-size: 0.8rem;
    font-family: Gilroy-Medium;
}
div.header-desc > div:first-child > div:nth-of-type(2){
    height: 6.25rem;
    width: 7.6875rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .25rem;
}
div.header-desc > div:first-child > div:nth-of-type(2) > p:first-child{
    color: var(--text-color-main-text, #141414);
    font-size: 2rem;
    font-family: Gilroy-SemiBold;
}
div.header-desc > div:first-child > div:nth-of-type(2) > p:nth-of-type(2){
    display: flex;
    width: 7.6875rem;
    height: 3.25rem;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--text-color-main-text, #141414);
    font-size: 0.8rem;
    font-family: Gilroy-Medium;
    line-height: 24px;
}
div.header-desc > div:nth-of-type(2){
    width:21.125rem;
}
div.header-desc > div:nth-of-type(2) > div:first-child{
    width: 8.9375rem;
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;   
}
div.header-desc > div:nth-of-type(2) > div:first-child > p:first-child{
    color: var(--text-color-main-text, #141414);
    font-size: 2rem;
    font-family: Gilroy-SemiBold;
}
div.header-desc > div:nth-of-type(2) > div:first-child > p:nth-of-type(2){
    width: 8.9375rem;
    height: 3.5rem;
    color: var(--text-color-main-text);
    font-size: 0.8rem;
    font-family: Gilroy-Medium;
    line-height: 1.5rem;    
}
div.header-desc > div:nth-of-type(2) > div:nth-of-type(2){
    width: 7.6875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.header-desc > div:nth-of-type(2) > div:nth-of-type(2) > p:first-child{
    width: 4.6875rem;
    line-height: 2.5rem;
    font-size: 2rem;
    font-family: Gilroy-SemiBold;
}
div.header-desc > div:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(2){
    color: var(--text-color-main-text);
    font-size: 0.8rem;
    font-family: Gilroy-Medium;
    line-height: 1.5rem;
}
div.second-div > div.main{
    width:75.125rem;
    height:504px;
    display: flex;
    align-items: flex-start;
    gap: 6rem;
}
div.second-div > div.main > div:first-child{
    width:24.875rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}
div.second-div > div.main > div:first-child >h3{
    color: #141414;
    width: 23.125rem;
    font-size: 2.5rem;
    font-family: Gilroy-Bold;
}
div.second-div > div.main > div:first-child >h3 span{
    color: #0065FE;
}
div.second-div > div.main > div:first-child p{
    height: 12rem;
    width: 23.125rem;
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    font-family: Gilroy-Medium;
    line-height: 1.75rem;
}
div.second-div > div.main > div:nth-of-type(2){
    width:708px;
    height: 504px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.second-div > div.main > div:nth-of-type(2) > div:first-child,
div.second-div > div.main > div:nth-of-type(2) > div:nth-of-type(2)
{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
}
div.flex-item{
    width: 340px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.flex-item img{
    display: block;
    height: 24px; 
    width: 24px;
}
div.flex-item > div{
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.flex-item > div h4{
    color: var(--text-color-main-text, #141414);
    font-size: 32px;
    font-family: Gilroy-SemiBold; 
}
div.flex-item > div p{
    width: 100%;
    height: 80px;
    color: var(--text-color-main-text, #141414);
    font-size: 16px;
    font-family: Gilroy-Medium;
    line-height: 24px;
}
div.third-div{
    position: relative;
    width: 100%;
    height: 67.0625rem;
    padding: 2.625rem 11rem 7rem 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
div.third-div > div:nth-of-type(2){
    width: 36rem;
    height: 6.75rem;
    display: flex;
    justify-content: space-between;
}
div.third-div > div:nth-of-type(2) > div{
    width: 34.75rem; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(1){
    color: #141414;
    text-align: center;
    font-size: 40px;
    font-family: Gilroy-Bold;
    line-height: 48px;     
}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(1) >span{
    color: var(--primary-400);
}
div.third-div > div:nth-of-type(2) > div >p:nth-of-type(2){
    width: 34.75rem;
    height: 3.25rem;
    color: var(--text-color-main-text, #141414);
    text-align: center;
    font-size: 1rem;
    font-family: Gilroy-Medium;
    line-height: 1.5rem;
}
div.third-div > div:nth-of-type(3){
    width:68rem;
    height: 39.1875rem;
    border-radius: .75rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.Basic-plan,.Teams-plan{
    height: 28.4875rem;
    width: /*I35.7375rem*/ auto;
    border-radius: .75rem;
    padding: 1.5rem 6.125rem 2.8125rem 5.4375rem;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    border: 0.4px solid var(--primary-400, #005AE2);
    background: var(--neutral-white);
    box-shadow: 0px .25rem .5rem 0px rgba(0, 0, 0, 0.05);
    overflow-x: visible;
}
.Basic-plan > p,.Teams-plan > p{
    color: var(--text-color-main-text);
    font-size: 1.5rem;
    font-family: Gilroy-Medium;
    /*line-height: 2rem;*/
    height: 2rem;
}
.Basic-plan > div, .Teams-plan > div{
    width: 12.125rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Basic-plan > div > div,.Teams-plan > div > div{
    width: 100%;
    height: 5.5rem /*auto*/;
}
.Basic-plan > div > div >h3,.Teams-plan > div>div>h3,
div.Proffessional-plan > div > div >h3{
    color: var(--text-color-main-text, #141414);
    font-size: 2.5rem;
    font-family: Gilroy-Bold;
    line-height: 3rem;    
}
div.Proffessional-plan > div > div >h3{
    color: var(--neutral-white, #FFF);    
}
.Basic-plan > div > div >p,.Teams-plan > div>div>p,
div.Proffessional-plan > div > div >p{
    width: 100%;
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    font-family: Gilroy-Medium;
    line-height: 2rem;
}
div.Proffessional-plan > div > div >p{
    color: var(--neutral-white, #FFF);    
}
.Basic-plan ul,.Teams-plan ul,
div.Proffessional-plan ul{
    margin-left: 1rem;
    width: 100%;
    height: 13.5rem;
    list-style-image: url("public/images/check-circle.png");
}
div.Proffessional-plan ul{
    list-style-image: url("public/images/check-circle2.png");
}
.Basic-plan ul li,.Teams-plan ul li,
div.Proffessional-plan ul li{
    margin-bottom: 1.5rem;
}
.Basic-plan ul li:last-child,.Teams-plan ul li:last-child,
div.Proffessional-plan ul li:last-child{
    margin-bottom: 0;
}
div.Proffessional-plan{
    position: absolute;
    top:13.625rem;
    height: 39.1875rem;
    width: 25.625rem;
    border-radius: .75rem;
    background: linear-gradient(#1E3448, #1E3448);
    padding: 5.9375rem 6.625rem 9.25rem 4.0625rem;
    color: var(--neutral-white);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
div.Proffessional-plan > p{
    color: var(--neutral-white);
    font-size: 1.5rem;
    font-family: Gilroy-Medium;
    line-height: 2rem;
}
div.Proffessional-plan > div{
    height: 20.5rem;
}
div.Proffessional-plan > div > div{
    height: 5.5rem;
}
div.third-div > div:nth-of-type(4){
    width: 26.125rem;
    height: 3rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
div.third-div > div:nth-of-type(4) > button{
    color: var(--primary-300-base); 
    display: flex;
    flex: 1;
    height: 100%;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 6.25rem;
    border: 1px solid var(--primary-300-base);
}
div.third-div > div:nth-of-type(4) > button:nth-of-type(2){
    background: var(--primary-300-base, #0065FE);
    color: var(--neutral-white, #FFF);
}
div.forth-div{
    width: 100%;
    height: 33.25rem;
    background:var(--linear-gradient, linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
div.forth-div > div.div-1{
   width: 29.75rem;
   height:22.1875rem;
   padding: 2.625rem;
   background: #FFF;
   border-radius: .75rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
div.forth-div > div.div-1 > div{
    height: 7.9375rem;
    width: 24.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-div{
    display: block;
    width: 100%;
    height: 3.5625rem;
    border-radius: .75rem;
    padding: .5rem .75rem;
    border:none;
    border: 1px solid var(--primary-100, #3284FF);
}
.input-div2{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}
.input-div2 > .input-2{
    display: flex;
    height: 3rem; 
    width: 12.625rem;
    height: 3rem;
    padding: 1.125rem 1.25rem;
    border-radius: .75rem;
    border: 1px solid var(--primary-100, #3284FF);
}
.input-div2 > .input-3{
    display: flex;
    width: 11.125rem;   
    height: 3rem;
    padding: .5rem .75rem;
    border-radius: .75rem;
    border: 1px solid #3284FF;
}
div.div-2{
    width: 100%;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.div-2  button{
    border: none;
    height: 3rem;
    width: 24.5rem;
    padding: .75rem 1.5rem;
    border-radius: 6.25rem;
    background: var(--primary-400, #005AE2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-white, #FFF);
}
div.div-2  button > p{
    height: 100%;
    font-size: .875rem;
    font-family: Gilroy-SemiBold;
    line-height: .75rem;
    padding: .25rem;
}
div.div-2 > p{
    width: 24.5rem;
    padding: .625rem;
    color: #4991FF;
    font-size: 14px;
    font-family: Gilroy-Medium;
    line-height: 20px;
}
div.div-2  button> div{
    height: 100%;
    padding: .25rem;
}
div.forth-div img{
    display: block;
    position: absolute;
}
img.vector{
    bottom: 0;
    right: 0;
}
img.vector2{
    z-index: 5;
    bottom: 0;
    right: 0;
}
img.vector3{
    z-index: 5;
    top: 0;
    left: 0;
}
img.vector4{
    top: 0;
    left: 0;
}
div.fifth-div{
    width: 100vw;
    height: 1153px;
    background: var(--neutral-white, #FFF);
    padding: 2.6875rem 20.25rem 9.6875rem 20.25rem;
}
.main-div{
    height: 59.6875rem;
    width: 49.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.main-div .div-first{
    width:7rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;    
}
.main-div .div-first h3{
    color: var(--text-color-main-text, #141414);
    font-size: 2.5rem;
    font-family: Gilroy-Bold;
    line-height: 2rem;
}
div.main-div div.div-second{
    height: 52.6875rem;
    width: 49.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.main-div div.div-second div.active{
    position: relative;
    height: 7.9375rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
div.main-div div.div-second div.active::after{
    content: "-";
    position: absolute;
    top:0;
    right: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
div.main-div div.div-second div.active p{
    color: var(--text-color-main-text, #141414);
    font-size: 1.25rem;
    line-height: 2rem; 
}
div.main-div div.div-second div.active p:nth-of-type(2){
    height: 3.9375rem;
    font-size: 1rem;
}
div.main-div div.div-second div.show{
    height:auto;
}
div.main-div div.div-second div.show p{
    position: relative;
    color: var(--text-color-main-text, #141414);
    font-size: 1.25rem;
    line-height: 2rem;
}
div.main-div div.div-second div.show p::after{
    content: "+";
    position: absolute;
    top:0;
    right: 0;
    width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}